$fullHeight: 100vh;
$fullWidth: 100vw;

$screen-mobile: (orientation : portrait) and (max-width: 819px), (min-aspect-ratio: 15/7);
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

$tailwind-24 : 6rem;
$tailwind-48: 12rem;
$tailwind-56: 14rem;
$tailwind-64: 16rem;

$radius-3xl: 1.5rem;

